@use "../utilsass/util.scss" as *;
@use "../sass/color.scss" as *;
// @use "../sass/typography.scss";

.mr-lft-auto {
  margin-left: auto;
}

.h-100vh {
  height: 100vh;
}
.h-100 {
  height: 100%;
}
.w-100vw {
  width: 100vw;
}

.mr-lft-smx {
  margin-left: 0.5rem;
}
.mr-lft-md {
  margin-left: 1.5rem;
}

.pst-absolute {
  position: absolute;
}
.pst-fixed {
  position: fixed;
}

.mr-top-1 {
  margin-top: 1rem;
}
.mr-btm-1 {
  margin-bottom: 1rem;
}
.mr-top-2 {
  margin-top: 2rem;
}
.mr-top-4 {
  margin-top: 4rem;
}

.mr-btm-2 {
  margin-bottom: 2rem;
}
.mr-top-sm {
  margin-top: 0.5rem;
}

.mr-top-auto {
  margin-top: auto;
}
.flex-container {
  display: flex;
}
.dtr-flexed-clm {
  flex-direction: column;
}
.j-ct-ctr {
  justify-content: center;
}
.j-ct-sp-btw {
  justify-content: space-between;
}
.j-ct-spc-ely {
  justify-content: space-evenly;
}
.j-ct-spc-arnd {
  justify-content: space-evenly;
}
.alg-itms-ctr {
  align-items: center;
}
.alg-itms-flxend {
  align-items: flex-end;
}
.alg-itms-flxstrt {
  align-items: flex-start;
}

.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}

.rounded-br-lg {
  border-bottom-right-radius: 1.25rem;
}

.rounded-t-lg {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-7 {
  padding: 1.5rem;
}

.p-6 {
  padding: 1rem;
}

.p-5 {
  padding: 0.5rem;
}

.p-4 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-2 {
  padding: 0.65rem;
}

.p-1 {
  padding: 0.45rem;
}
.max-w-md {
  max-width: 28rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
  letter-spacing: 0.25px;
}

.text-gray-700 {
  color: #4a5568;
}
.primary-text-color {
  color: $primary-color;
}
.font-body {
  font-family: "wotfard-regular";
}
.font-body-2 {
  font-family: "wotfard-semibold";
}
.flex-basis-70 {
  flex: 70%;
}

.flex-basis-30 {
  flex: 30%;
}

.place-items-center {
  display: grid;
  place-items: center;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    margin: 0px auto;
  }
}
