@use "../utilsass/util.scss" as *;
// @use "../sass/typography.scss";

.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}

.rounded-br-lg {
  border-bottom-right-radius: 1.25rem;
}

.rounded-t-lg {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.p-8 {
  padding: 2rem;
}
.max-w-md {
  max-width: 28rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-gray-700 {
  color: #4a5568;
}

.font-body {
  font-family: "wotfard-regular";
}
.font-body-2 {
  font-family: "wotfard-semibold";
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    margin: 0px auto;
  }
}
