$primary-color: #ffc108;

$primary-color-light: #f2d17c9a;

$primary-black: #242424;
$primary-black-variant-2: #010001;
$primary-black-variant: #02001c;

$primary-black-variant-3: #212022;

$primary-white: #fff;
$primary-white-variant: #f9fafb;
$white-smoke: #ededed;

$darkslategray: #393b44;

$dim-gray: #5a5a5a;
