@use "../../styles/sass/color.scss" as *;
@use "../../styles/sass/mixins.scss" as mx;

.avis__primaryCard {
  background-color: $darkslategray;
  @include mx.moreBlurShadow;
}

.avis__primaryCard__body,
.loginAccess__introText {
  padding: 0.5rem 0.75rem;
}

.loginAccess__introText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #2a2e32;
}
