@use "../../../styles/sass/color.scss" as color;
@use "../../../styles/sass/mixins.scss" as mixin;

.guest__background {
  background-color: color.$primary-black-variant-2;
  min-height: 100vh;
  position: relative;
}

.guest__background__container {
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 480px;
  overflow: hidden;
  background-color: #34363e;
  @include mixin.moreBlurShadow;
}

.guest-login-form__block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: color.$primary-color;
  padding: 20px;

  h3 {
    color: #34363e;
    font-size: 21px;
  }

  span {
    color: color.$dim-gray;
    margin-top: 0.35rem;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.25px;
  }
}

.guest-login-form__container > .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & > label {
    color: color.$primary-white-variant;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }
}

.form-control__input-block {
  display: flex;
  flex-direction: column;

  & > input {
    outline: none;
    background-color: transparent;
    border: 1px solid color.$primary-color;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;

    &:focus {
      border: 1px solid color.$primary-white-variant;
    }
  }
}

.guest-login-form {
  padding: 0.65rem 3rem 3rem;
}

.forgot-password__link {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3px;
  color: #888888;
  & > a:hover {
    color: color.$primary-white-variant;
    text-decoration: underline;
  }
}

//request account text
.request-an-account {
  margin-bottom: 0.5rem;
  color: #dad8d8;
  font-size: 12px;
}

.guest-illustrator__image {
  position: absolute;
  bottom: 0;
  right: 0;

  &-block {
    max-width: 400px;
  }
}
