@use "../../styles/sass/color.scss" as color;

.footer {
  //   background-color: lighten($color: #393b44, $amount: 10%);
  background-color: #101010;
}

.footer__image {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 464px;
  height: 331px;
  z-index: 2;
  img {
    position: relative;
    bottom: -16px;
  }

  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.footer__upper__content {
  padding: 0px 80px;

  & > div {
    padding: 128px 16px;
    width: 100%;

    & > h1 {
      margin-bottom: 5rem;
      font-size: 2rem;
      color: color.$primary-white;
      position: relative;
    }
  }

  .contact__address {
    display: flex;
    align-items: center;

    & > span:nth-child(2) {
      margin-left: 1rem;
      font-size: 1.45rem;
      font-weight: 600;
      color: color.$primary-color;
    }
  }
}

.footer__lower__content {
  background-color: #000;
  color: color.$primary-white;
  position: relative;
  & > div {
    padding: 0 12px;
  }
}
.footer__lower__content > div {
  display: flex;
  padding: 16px 0px;
}

.footer__lower__content > div > span {
  display: flex;

  & > a:hover {
    color: color.$primary-color;
  }
}
.footer__lower__content > div > span:not(:first-child) {
  margin-left: 6em;
}
