@use "../../styles/sass/color.scss" as color;
@use "../../styles/sass/mixins.scss" as mixin;

// main container housing registration form
//container is positioned fixed and made blur
//for registration form to sit on
//this style also hides the registartio form for javascript programming
//using the translate 200%
.avis-reg-popup {
  position: fixed;
  z-index: 999999999;
  background-color: rgba(36, 36, 36, 0.788);
  padding-top: 5rem;
  padding-bottom: 10rem;
  transform: scale(0.35) translateX(200%);
  transition: transform 0.5s, opacity 0.75s ease-in;
  opacity: 0;
  overflow-y: scroll;

  @media (min-width: 1639px) {
    overflow-y: hidden;
  }
}

.avis-reg-popup__container {
  margin: 0 auto;
  background-color: color.$darkslategray;
  @include mixin.moreBlurShadow;
  border: 1px solid color.$primary-black-variant-2;
}

// javascript dynamic style
//applied when registration form is invoked
.avis-reg-popup__show {
  transform: scale(1) translateX(0);
  opacity: 1;
}

.avis-reg-content {
  padding: 40px 45px;
}

.avis__gstForm__control__checkbox {
  position: relative;

  & > input[type="checkbox"] {
    position: absolute;
    left: -999px;
  }

  & > input[type="checkbox"]:checked ~ .vreg__addFiles__checkboxLabel::before {
    background-color: color.$primary-color;
  }
  & > input[type="checkbox"]:checked ~ .vreg__addFiles__checkboxLabel::after {
    display: block;
  }
}

// label related to checkbox styles
.vreg__addFiles__checkboxLabel {
  margin-left: 25px;
  color: color.$primary-color;
  font-size: 1.105rem;
  cursor: pointer;
}

//custom check box
.vreg__addFiles__checkboxLabel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 2px;
  left: 0;
  border: 1px solid color.$primary-color;
}
//check mark style for clicked indication
.vreg__addFiles__checkboxLabel::after {
  display: none;
  content: "";
  position: absolute;
  width: 7px;
  height: 11px;
  top: 2px;
  left: 7px;
  transform: rotate(45deg);
  border-bottom: 3px solid color.$primary-black;
  border-right: 3px solid color.$primary-black;
}

@media screen and (max-width: 1200px) {
  .t-width_6 {
    max-width: 460px;
  }
}

.t-width_6 {
  max-width: 560px;
}

//form intro text styles
.avis-reg-introText {
  font-size: 1.6rem;
  color: color.$primary-white;
  margin-bottom: 2rem;
  &__container {
    text-align: center;
    letter-spacing: 0.5px;
  }
}

//form input styles
.avis__gstForm__control {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  //input container
  .text-input-block {
    display: flex;

    & > input[type="text"] {
      flex-grow: 1;
      background-color: transparent;
      border: 0;
      padding: 15px 6px;
      font-size: 1.25rem;
      color: #000;
      font-family: inherit;
      outline: none;
      border-bottom: 1.5px solid color.$primary-white;
      &:focus {
        background-color: #e8f0fe;
      }
    }
  }
}

.avis__vregForm__componentWrapper {
  display: flex;

  & > div {
    flex-grow: 1;
  }
}

.avis__gstForm__control__file {
  display: flex;
  max-width: 100px;

  & > input[type="file"] {
    display: none;
  }

  & > button {
    border: 0;
    background-color: color.$primary-color;
    display: flex;
    border-radius: 5px;

    border: 2px solid #e8f0fe;
  }
  .vreg__addFiles__label {
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: 0.951rem;
    font-weight: 500;
  }
}
